/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bool-lightblue: rgba(71, 173, 241, 1);
    --bool-purple: rgba(156, 114, 228, 1);
    --bool-pink: rgba(216, 99, 160, 1);
    --bool-lightgreen: rgba(176, 201, 38, 1);
    --bool-green: rgba(100, 192, 169, 1);
    --bool-orange: rgba(242, 158, 51, 1);
    --bool-darkblue: rgba(4, 25, 49, 1);
}

body {
    margin: 0;
}
/* /common */

header {
    height: 5rem;
    padding: 1rem 2rem;
    margin-bottom: 6rem;
    background-color: white;
}

#title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
    padding-left: 1.5rem;
}
/* /header */

main {
    width: 50%;
    margin: 1rem auto;
    background-color: white;
    border-radius: 05rem;
}

.container {
    border-bottom: 2px solid lightgrey;
    padding: 0.7rem 3rem 0.7rem;
}

.btn {
    padding: 0.4rem 0.7rem;
    background-color: transparent;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    border: none;
}

.btn_task {
    background-color: var(--bool-lightblue);
    color: white;
}

.btn_section {
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}