/*  */
:root{
    --bool-lightblue: rgba(71, 173, 241, 1);
    --bool-purple: rgba(156, 114, 228, 1);
    --bool-pink: rgba(216, 99, 160, 1);
    --bool-lightgreen: rgba(176, 201, 38, 1);
    --bool-green: rgba(100, 192, 169, 1);
    --bool-orange: rgba(242, 158, 51, 1);
    --bool-darkblue: rgba(4, 25, 49, 1);
}

body{
    margin: 0;
}

header{
    height: 5rem;
    padding: 1rem 2rem;
    margin-bottom: 6rem;
    background-color: white;
}

#title{
    font-family: sans-serif;
    font-weight:bold;
    font-size: 2.5rem;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    padding-left: 1.5rem;
}

.main_bg{
    background-color:lightgrey;
}

.container{
    margin: 0 auto;
    background-color: white;
    width: 70%;
    border-radius: 0.3rem;
}

button{
    padding: 1rem 1.5rem;
    color: white;
    background-color: var(--bool-lightblue);
    border-radius: 0.5rem;
    font-size: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    vertical-align: middle;
}

#section{
    color: lightslategray;
    background-color: white;
    border: 1px solid grey;
    border-radius: 0.5rem;
    font-size: 44px;
    margin: 1rem 1rem 1rem 1rem;
    vertical-align: middle;
}